@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
      /* Custom utility for 3D perspective */
      .perspective-2000 {
        perspective: 2000px;
      }
      .preserve-3d {
        transform-style: preserve-3d;
      }
      .backface-hidden {
        backface-visibility: hidden;
      }
      .rotate-y-180 {
        transform: rotateY(-180deg);
      }
}